.formContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 65px 0;
    background: url("/callback-bg.jpg") no-repeat center center/cover;
    .container {
        width: 100%;
        max-width: 1600px;
        @media screen and (max-width: 1700px) {
            max-width: 1200px;
        }
    }
    .form {
        margin: 0 auto;
        width: 790px;
        background: #fff;
        border-radius: 20px;
        padding: 25px 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title {
        font-size: 40px;
        color: #099582;
        font-weight: 500;
        margin-bottom: 12px;
        text-align: center;
    }
    .subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 300;
        margin-bottom: 40px;
    }
    .label {
        font-size: 16px;
        line-height: 1.3;
        font-weight: 300;
        margin-bottom: 11px;
    }
    .button {
        height: 60px;
        width: 100%;
        border-radius: 20px;
        color: #fff;
        background: #099582;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s;
        border-style: solid;
        border-color: #099582;
        border-width: 1px;
        &:hover {
            background: #fff;
            color: #099582;
        }
        &:active {
            background: #D9DFDF;
        }
        margin-top: 8px;
    }
    .input {
        height: 60px;
        background: #FCFFFE;
        border: none;
        box-shadow: 0 0 6px rgba(114, 182, 171, 0.4);
        border-radius: 10px;
        font-size: 14px;
        font-weight: 300;
        padding: 0 20px;
        margin-bottom: 16px;
    }
}
