.formContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 65px 0;
    background: url("/callback-bg.jpg") no-repeat center center/cover;
    .container {
        width: 100%;
        max-width: 1600px;
        @media screen and (max-width: 1700px) {
            max-width: 1200px;
        }
        @media screen and (max-width: 1250px) {
            padding: 0 20px;
        }
    }
}
