.container {
    background: #fff;
    border-radius: 20px;
    padding: 16px 32px 21px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    text-align: left;
    position: relative;
    margin-bottom: 24px;
    @media screen and (max-width: 1366px), screen and (max-height: 750px) {
        padding: 16px 20px 18px;
    }
    @media screen and (max-width: 1250px) {
        padding: 16px;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &.containerButton {
        cursor: pointer;
    }
    &.containerOpened {
        border-radius: 20px 20px 0 0;
        @media screen and (max-width: 1250px) {
            border-radius: 20px;
        }
    }
    .wrapper {
        display: flex;
        width: 100%;
        &.notList {
            @media screen and (max-width: 1250px) {
                display: block;
            }
            .title {
                margin-bottom: 10px;
            }
        }
    }
    .title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        display: flex;
        column-gap: 16px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 18px;
        }
        @media screen and (max-width: 1250px) {
            font-size: 16px;
        }
        @media screen and (max-width: 540px) {
            display: block;
        }
    }
    .offer {
        font-weight: 600;
        color: #F57C00;
    }
    .text {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 300;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 12px;
        }
    }
    .item {
        width: 100%;
        @media screen and (max-width: 1250px) {
            padding-right: 20px;
        }
    }
    .icon {
        flex-shrink: 0;
        margin-right: 15px;
    }
    .info {
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        margin-top: -7px;
        padding: 20px 32px 10px;
        border-radius: 0 0 20px 20px;
        background: #fff;
        z-index: 1;
        font-size: 16px;
        line-height: 1.5;
        color: #1E1E1E;
        border-top: 1px solid #E9E4E4;
        box-shadow: 0 0 6px rgba(114, 182, 171, 0.7);
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 14px;
        }
        @media screen and (max-width: 1250px) {
            line-height: 1.2;
            padding: 20px 0 0;
            position: relative;
            box-shadow: none;
            margin-top: 10px;
            background: none;
            top: 0;
        }
        .infoItem {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 16px;
            border-bottom: 1px solid #E9E4E4;
            padding-bottom: 4px;
            @media screen and (max-width: 1366px), screen and (max-height: 750px) {
                margin-bottom: 12px;
            }
            @media screen and (max-width: 1250px) {
                margin-bottom: 16px;
                padding-bottom: 8px;
            }
        }
        .infoTitle {
            padding-right: 40px;
        }
        .infoPrice {
            font-weight: 700;
        }
        .infoPriceLower {
            display: flex;
            column-gap: 16px;
            span {
                &:first-child {
                    text-decoration: line-through;
                }
                &:nth-child(2) {
                    color: #F57C00;
                }
            }
        }
    }
    .button {
        border: none;
        font-size: 16px;
        color: #099582;
        font-weight: 700;
        background: none;
        white-space: nowrap;
        cursor: pointer;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 14px;
        }
        &:hover {
            font-style: italic;
            font-weight: 400;
            text-decoration: underline;
        }
        &:active {
            color: #7A7A7A;
        }
    }
}
