



.banner {
    height: 100vh;
    width: 100vw;
    background: #72B6AB;
}

.container {
    width: 100%;
    max-width: 1600px;
    @media screen and (max-width: 1700px) {
        max-width: 1200px;
    }
}