.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    z-index: 1;
    position: absolute;
    color: white;
    background: #28A745;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
    @media screen and (max-width: 1366px), screen and (max-height: 750px) {
        position: relative;
        min-height: 40px;
        height: auto;
        padding: 10px 20px;
    }
}
.header {
    height: 116px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: absolute;
    left: 0;
    /*top: 40px;*/
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1366px), screen and (max-height: 750px) {
        height: 100px;
        position: relative;
        top: 0;
    }
    @media screen and (max-width: 1250px) {
        height: 68px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .hamburger {
        display: none;
        background: none;
        border: 0;
        @media screen and (max-width: 1250px) {
            display: block;
            width: 40px;
            position: absolute;
            bottom: -50px;
            left: 50%;
            margin-left: -20px;
            cursor: pointer;
        }
        .ham1, .ham2, .ham3 {
            width: 100%;
            height: 2px;
            background: #fff;
            margin: 6px 0;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1600px;
        @media screen and (max-width: 1700px) {
            max-width: 1200px;
        }
        @media screen and (max-width: 1250px) {
            padding-left: 10px;
            padding-right: 10px;
            align-items: center;
        }
    }
    .logo {
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
        }
        @media screen and (max-width: 1250px) {
            height: 42px;
        }
    }
    .headerRight {
        display: flex;
        height: 100%;
        align-items: center;
        width: 80%;
        justify-content: space-between;
        @media screen and (max-width: 1700px) {
            width: 100%;
        }
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            width: 85%;
        }
        @media screen and (max-width: 1250px) {
            width: 100%;
            justify-content: flex-end;
            align-items: center;
        }
        .menuPhones {
            display: none;
            margin-top: 17px;
            @media screen and (max-width: 1250px) {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .menuPhoneItem {
                font-size: 18px;
                color: #099582;
                font-weight: 500;
                margin-top: 10px;
            }
        }
        .menu {
            display: flex;
            @media screen and (max-width: 1250px) {
                display: none;
                &.menuOpened {
                    display: flex;
                    background: #fff;
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
            .button {
                display: none;
                width: 40px;
                height: 40px;
                cursor: pointer;
                background: none;
                border: 0;
                position: absolute;
                right: 10px;
                top: 10px;
                @media screen and (max-width: 1250px) {
                    display: block;
                }
            }
            .menuItem {
                cursor: pointer;
                text-decoration: none;
                font-size: 18px;
                line-height: 21px;
                font-weight: 400;
                margin-left: 35px;
                color: #000;
                transition: color 0.2s;
                @media screen and (max-width: 1366px), screen and (max-height: 750px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 1250px) {
                    font-size: 18px;
                    color: #099582;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin: 17px 0;
                }
                &:hover {
                    color: #7A7A7A;
                }
                &:active {
                    color: #099582;
                }
            }
        }
    }
    .phones {
        height: 21px;
        @media screen and (max-width: 1250px) {
            height: 100%;
            display: flex;
            align-items: center;
        }
        .phonesContainer {
            background: #fff;
            border-radius: 0 0 20px 20px;
            display: flex;
            align-items: flex-start;
            padding: 0 10px 15px;
            @media screen and (max-width: 1250px) {
                background: none;
                border-radius: 0;
                padding: 0;
                justify-content: center;
            }
        }
        &:hover {
            @media screen and (min-width: 1367px), screen and (min-height: 751px) {
                .phonesWrapper {
                    .phoneItem {
                        display: block;
                    }
                }

                .dropdownIcon {
                    transform: rotate(180deg);
                }
            }
        }
        .phoneIcon {
            margin-right: 12px;
            @media screen and (max-width: 1366px), screen and (max-height: 750px) {
                width: 18px;
                height: 18px;
            }
            @media screen and (max-width: 1250px) {
                display: none;
            }
        }
        .dropdownIcon {
            margin-left: 5px;
            margin-top: 7px;
            @media screen and (max-width: 1250px) {
                display: none;
            }
        }
        .phonesWrapper {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            justify-content: flex-start;
        }
        .phoneItem {
            white-space: nowrap;
            text-decoration: none;
            font-size: 18px;
            line-height: 21px;
            font-weight: 400;
            color: #000;
            transition: color 0.2s;
            @media screen and (max-width: 1366px), screen and (max-height: 750px) {
                font-size: 16px;
            }
            @media screen and (max-width: 1250px) {
                font-size: 14px;
                line-height: 16px;
                color: #099582;
            }
            &:hover {
                color: #7A7A7A;
            }
            &:active {
                color: #099582;
            }
            &:not(:first-child) {
                margin-top: 12px;
                display: none;
                @media screen and (max-width: 1250px) {
                    display: block;
                    margin-top: 10px;
                }
            }
            &:last-child {
                margin-top: 12px;
                @media screen and (max-width: 1250px) {
                    display: none;
                }
            }
        }
    }
    .button {
        height: 48px;
        width: 295px;
        border-radius: 20px;
        color: #fff;
        background: #099582;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s;
        border-style: solid;
        border-color: #099582;
        border-width: 1px;
        @media screen and (max-width: 1700px) {
            width: 200px;
        }
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            height: 40px;
            font-size: 14px;
        }
        @media screen and (max-width: 1250px) {
            display: none;
        }
        &:hover {
            background: #fff;
            color: #099582;
        }
        &:active {
            background: #D9DFDF;
        }
    }
}