.footerContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 46px 0 55px;
    background: #72B6AB url("/footer-bg.png") no-repeat center bottom/cover;
    @media screen and (max-width: 1366px), screen and (max-height: 750px) {
        padding: 30px 0 40px;
    }
    .container {
        width: 100%;
        max-width: 1600px;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 1700px) {
            max-width: 1200px;
        }
        @media screen and (max-width: 1250px) {
            padding: 0 20px;
            justify-content: center;
        }
    }
    .logo {
        margin-right: 190px;
        @media screen and (max-width: 1250px) {
            margin-right: 0;
            height: 70px;
        }
    }
    .menuWrapper {
        display: flex;
        margin-bottom: 105px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 1250px) {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
    .menu {
        display: flex;
        flex-direction: column;
        width: 300px;
        @media screen and (max-width: 1700px) {
            width: 220px;
        }
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            width: 200px;
        }
        @media screen and (max-width: 1250px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    .menuTitle {
        color: #fff;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: uppercase;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 18px;
        }
    }
    .menuLink, .email, .text {
        margin-top: 16px;
        color: #fff;
        font-size: 18px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 16px;
        }
    }
    .menuLink, .email {
        text-decoration: none;
        transition: all 0.2s;
        min-height: 25px;
        cursor: pointer;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            min-height: 20px;
        }
        &:hover {
            &:active {
                color: #7A7A7A;
            }
        }
    }
    .email {
        margin-top: 24px;
    }
    .copyrightWrapper {
        width: 100%;
        .copyright {
            width: 385px;
            border-top: 1px solid #fff;
            color: #fff;
            padding-top: 11px;
            font-size: 14px;
            line-height: 21px;
        }
    }
}
