.branches {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 230px 0 90px;
    @media screen and (max-width: 1700px) {
        padding: 190px 0 70px;
    }
    @media screen and (max-width: 1366px), screen and (max-height: 750px) {
        padding: 150px 0 50px;
    }
    @media screen and (max-width: 1250px) {
        padding: 10px 0 0;
    }
    .container {
        width: 100%;
        max-width: 1600px;
        position: relative;
        @media screen and (max-width: 1700px) {
            max-width: 1200px;
        }
        @media screen and (max-width: 1250px) {
            padding: 0 20px;
        }
    }
    .rect {
        position: absolute;
        width: 834px;
        height: 577px;
        left: 50%;
        margin-left: 270px;
        top: -60px;
        background: linear-gradient(232.43deg, rgba(7, 140, 111, 0.8) -11.6%, rgba(8, 116, 93, 0.4) 80.55%);
        border-radius: 200px;
        @media screen and (max-width: 1700px) {
            height: 480px;
            top: -40px;
        }
        @media screen and (max-width: 1250px) {
            display: none;
        }
    }
    .titleWrapper {
        position: relative;
    }
    .branchList {
        width: calc(100% + 20px);
        margin: 40px 0 40px -10px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        row-gap: 20px;
        padding-top: 10px;
        @media screen and (max-width: 1250px) {
            display: block;
            width: 100%;
            margin: 20px 0 0;
        }
        .sliderItem {
            margin: 0;
            height: auto;
            @media screen and (max-width: 1250px) {
                margin-top: 10px;
            }
        }
    }
    .title {
        color: #000;
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        position: relative;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 30px;
        }
        @media screen and (max-width: 1250px) {
            font-size: 24px;
        }
        &:before {
            content: '';
            height: 1px;
            width: 200px;
            background: #099582;
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -100px;
        }
    }
    .mobileControls {
        display: none;
        @media screen and (max-width: 1250px) {
            display: flex;
            margin-top: 20px;
            justify-content: center;
        }
        .sliderControls {
            position: relative;
            padding-right: 0;
            @media screen and (max-width: 1250px) {
                display: flex;
            }
        }
    }
    .sliderControls {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        width: 118px;
        padding-right: 6px;
        justify-content: space-between;
        @media screen and (max-width: 1250px) {
            display: none;
        }
        .sliderLeft,
        .sliderRight {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: #fff;
            cursor: pointer;
            border: 1px solid #D9DFDF;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s;
            &:hover {
                background: #099582;
                .arrowLeft, .arrowRight {
                    .arrowPath {
                        stroke: #fff;
                    }
                }
            }
            &:active {
                background: #D9DFDF;
                &:hover {
                    .arrowLeft, .arrowRight {
                        .arrowPath {
                            stroke: #099582;
                        }
                    }
                }
            }
            .arrowPath {
                transition: all 0.2s;
            }
        }
        .arrowRight {
            transform: rotate(180deg);
        }
    }
    .slider {
        width: calc(100% + 40px) !important;
        margin-left: -20px;
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;
        @media screen and (max-width: 1250px) {
            margin-bottom: 20px;
            width: calc(100% + 20px) !important;
            margin-left: -10px;
        }
    }
    .sliderItem {
        margin: 10px;
        height: calc(100% - 20px);
        padding: 22px 30px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 0 6px rgba(114, 182, 171, 0.4);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        @media screen and (max-width: 1700px) {
            padding: 16px 20px;
        }
        @media screen and (max-width: 1250px) {
            padding: 16px 10px;
        }
    }
    .image {
        margin-bottom: 24px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            margin-bottom: 20px;
        }
    }
    .specialsTitle {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #000;
        margin-bottom: 12px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 18px;
        }
    }
    .specialsText {
        font-size: 16px;
        line-height: 1.3;
        font-weight: 300;
        color: #000;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 14px;
        }
    }
    .listWrapWrapper {
        display: flex;
        justify-content: center;
        height: 20px;
        align-items: center;
        @media screen and (max-width: 1250px) {
            margin-top: 40px;
        }
    }
    .listWrap {
        background: #fff;
        font-size: 14px;
        font-weight: 500;
        color: #099582;
        text-transform: uppercase;
        border: none;
        display: flex;
        cursor: pointer;
        align-items: center;
        transition: all 0.2s;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 12px;
        }
        &:hover {
            font-style: italic;
            font-size: 16px;
            &:active {
                color: #7A7A7A;
                .listWrapArrowPath {
                    fill: #7A7A7A;
                }
            }
        }
    }
    .listWrapArrow {
        margin-left: 18px;
    }
    .listWrapArrowRotate {
        transform: rotate(180deg);
    }
    .listWrapArrowPath {
        transition: fill 0.2s;
    }
}
