.banner {
    padding-top: 116px;
    height: 100vh;
    width: 100vw;
    background: #72B6AB url("/banner.png") no-repeat right bottom / contain;
    color: #fff;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1366px), screen and (max-height: 750px) {
        height: calc(100vh - 100px);
    }
    @media screen and (max-width: 1250px) {
        background-position: 65% bottom;
        background-size: auto 100%;
        background-repeat: no-repeat;
        height: calc(100vh - 68px);
    }
    .container {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        @media screen and (max-width: 1700px) {
            max-width: 1200px;
        }
    }
    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        @media screen and (max-width: 1250px) {
            align-items: center;
            justify-content: center;
            padding: 0 20px 90px;
        }
    }
    .subtitle {
        font-size: 40px;
        font-weight: 300;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 30px;
        }
        @media screen and (max-width: 1250px) {
            font-size: 24px;
        }
    }
    .title {
        font-size: 200px;
        line-height: 235px;
        font-weight: 400;
        margin-left: -10px;
        margin-top: -20px;
        margin-bottom: -25px;
        position: relative;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 150px;
            line-height: 175px;
            margin-top: -10px;
            margin-bottom: -15px;
        }
        @media screen and (max-width: 1250px) {
            font-size: 80px;
            line-height: 95px;
            margin-top: -5px;
            margin-bottom: -5px;
        }
    }
    .image {
        position: absolute;
        width: 110px;
        left: -16px;
        top: 130px;
        transform: rotate(24deg);
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            width: 90px;
            left: -16px;
            top: 100px;
        }
        @media screen and (max-width: 1250px) {
            top: 50px;
            left: -10px;
            width: 50px;
        }
    }
    .slogan {
        position: relative;
        font-weight: 300;
        font-size: 24px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 20px;
        }
    }
    .button {
        height: 60px;
        width: 385px;
        border-radius: 20px;
        color: #137779;
        background: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s;
        border-style: solid;
        border-color: #fff;
        border-width: 1px;
        margin-top: 54px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            height: 50px;
            width: 300px;
            font-size: 14px;
        }
        @media screen and (max-width: 1250px) {
            height: 60px;
            width: 100%;
            font-size: 16px;
        }
        &:hover {
            border-color: #099582;
            background: #099582;
            color: #fff;
        }
        &:active {
            border-color: #D9DFDF;
            color: #099582;
            background: #D9DFDF;
        }
    }
}