.sliderItem {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (max-width: 1250px) {
       padding: 0 10px;
    }
    .image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 20px;
        overflow: hidden;
    }
    .doctorTitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 2px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 18px;
        }
    }
    .doctorPosition {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 8px;
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 14px;
        }
    }
    .doctorMore {
        background: none;
        border: none;
        text-decoration: underline;
        cursor: pointer;
        color: #7A7A7A;
        font-size: 12px;
        line-height: 1.5;
        @media screen and (max-width: 1250px) {
            display: none;
        }
    }
    .doctorInfo {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color: #7A7A7A;
        margin-bottom: 8px;
        &.hidden {
            display: none;
            @media screen and (max-width: 1250px) {
                display: block;
            }
        }
        @media screen and (max-width: 1366px), screen and (max-height: 750px) {
            font-size: 12px;
        }
        @media screen and (max-width: 1250px) {
            font-size: 14px;
        }
        .strong {
            font-weight: 500;
        }
    }
}

